* {
  font-family: sans-serif;
}
.flex {
  display: flex;
}

/* navigation design */
.navigation-bar {
  justify-content: space-between;
  align-items: baseline;
  padding: 1% 10%;
  position: sticky;
  top: 0%;
}
.nav-logo {
  height: 25px;
  cursor: pointer;
}
.nav-page-links li {
  margin-inline: 10px;
  list-style-type: none;
  color: #757575;
  font-weight: 300;
  cursor: pointer;
}
.nav-active-link {
  color: black !important;
  font-weight: 600 !important;
  border-bottom: 2px red solid;
  padding-bottom: 10px;
}

/* sign-in design */
.signin-container {
  width: 90%;
  margin: auto;
  text-align: center;
  border: 2px solid black;
  border-radius: 12px;
}
.signin {
  justify-content: space-around;
  padding: 3% 0% 7% 0%;
}
.signin-img {
  height: 300px;
}
.form {
  flex-direction: column;
  border: 2px red solid;
  width: 500px;
}
.form input {
  font-size: 20px;
  margin: 3%;
  padding: 2%;
}
